
#DIV_1 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 1106.33px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 1663px;
    word-break: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 831.5px 553.156px;
    transform-origin: 831.5px 553.164px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    outline: rgb(51, 51, 51) none 0px;

    width: auto;
    top: 0; 
  }/*#DIV_1*/

  .md-sidebar--secondary {
      display: none;
  }

  #DIV_1 * {
      width: auto !important;
  }
  
  #DIV_1:after {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    word-break: break-word;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    outline: rgb(51, 51, 51) none 0px;
  }/*#DIV_1:after*/
  
  #DIV_1:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    word-break: break-word;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    outline: rgb(51, 51, 51) none 0px;
  }/*#DIV_1:before*/
  

  